<h3>Hi</h3>
<form action="/admin" method="POST">

	<p> &nbsp; Login: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Password:</p>
	<input type="text" name="login" />	 &nbsp; &nbsp;
	<input type="password" name="pass" /> <br /> <br />	
	<input type="submit" />

</form>