<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>

	<h1> Welcome to Barber-Shop! </h1>
	<p > We are open </p>
	<p> Hello everybody!</p>
	<br />

	<form action="/" method="POST">

	  <p>Your name:</p>
	  <input type="text" name="user_name" />	
	  <p>Phone number:</p>
	  <input type="text" name="phone" />		
	  <p>Date and time:</p>
	  <input type="text" name="date_time" />	<br /> <br />
	  <input type="submit" class="btn btn-primary" />

	</form>

  </body>

</html>