<h1> Welcome to Barber-Shop! </h1>
<h3> We are open </h3>
<form action="/" method="POST">

	<p>Your name:</p>
	<input type="text" name="user_name" />	
	<p>Phone number:</p>
	<input type="text" name="phone" />		
	<p>Date and time:</p>
	<input type="text" name="date_time" />	<br /> <br />
	<input type="submit" />

</form>