<h2>Контакты</h2>

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="mailname" type="text" class="form-control" placeholder="Ваше имя">
  </div>

  <div class="form-group">
    <label>Ваш емейл</label>
    <input name="email" type="email" class="form-control" placeholder="Ваш емейл">
  </div>

  <div class="form-group">
    <label>Напишите свои вопросы, пожелания</label>
    <textarea name="text" type="textarea" class="form-control" rows="3"></textarea>
  </div>


  <button type="submit" class="btn btn-success">Отправить письмо</button>

</form>