<form class="form-inline">
  <div class="form-group">
    <label class="sr-only">Your login</label>
    <input name="login" type="text" class="form-control" placeholder="Login">
  </div>
  <div class="form-group">
    <label class="sr-only">Your password</label>
    <input name="pass" type="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>