<h2>Записаться</h2>
<p>На этой странице Вы можете записаться в Barber Shop</p>

<form action="/visit" method="POST">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон">
  </div>

  <div>
    <label>Парикмахер</label>
    <select name="barber" type="text" class="form-control">
      <option>Walter White</option>
      <option>Jessie Pinkman</option>
      <option>Gus Fring</option>
    </select>
    <br />
  </div>

  <div class="form-group">
    <label>Когда Вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>


  <button type="submit" class="btn btn-success">Записаться</button>

</form>